<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<app-header></app-header>
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<div class="content">
  <div class="container">
    <div class="row" class="bg-img">
      
    </div>
  </div>
  <!-- <router-outlet></router-outlet> -->
</div>
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<footer></footer>