<div class="modal-body">
    <form [formGroup]="signInForm">
        <div class="row pl-5 pb-3">
            <div class="col-9">
                <h3 class="modal-title">Sign in</h3>
            </div>
            <div class="col-3">
                <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        </div>
        <div class="row pl-5 pb-4">
            <div class="col-10">
                <input class="form-control" placeholder="Enter email" formControlName="email" />
                <app-input-error *ngIf="frm.email.touched && frm.email.errors?.required" [errorType]="'EMAIL_REQUIRED'"></app-input-error>
                <app-input-error *ngIf="frm.email.touched && frm.email.errors?.pattern" [errorType]="'EMAIL_REQUIRED'"></app-input-error>
            </div>

        </div>
        <div class="row  pl-5 pb-4">
            <div class="col-10">
                <input class="form-control" placeholder="Enter password" formControlName="password" type="password" />
                <app-input-error *ngIf="frm.password.touched && frm.password.errors?.required" [errorType]="'PASSWORD_REQUIRED'"></app-input-error>
                <app-input-error *ngIf="frm.password.touched && frm.password.errors?.pattern" [errorType]="'PASSWORD_PATTERN'"></app-input-error>
            </div>
        </div>
    </form>
</div>
<div class="modal-footer">
    <button type="submit" class="btn btn-primary" (click)="Signin()">Sign in</button>
    <button type="button" class="btn btn-outline-dark" (click)="Test()">Close</button>
</div>